.todo-item-contener {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.button-conteiner {
  margin-right: 10px;
  display: flex;
}
.button-list-item {
  height: 50%;
}

.zrobione {
  color: green;
  font-weight: 700;
}

.niezrobione {
  color: brown;
  font-weight: 700;
}

.Icon{
  padding-right: 5px;
}

